    <div class="container" align = "center">
      <div class="panel panel-primary">
        <div class="panel-heading"> </div>
          <div class="panel-body">
            <form >
                <h2>Form Peminjaman Asset Laboratorium</h2>
                <table align="center">         
                    <tr valign = "top">
                    <tr>
                    <div class="item text">
                        <td>Nama</td>
                        <td><div class="field"><input type="text" name="nama" size="45" /></div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="item text">
                        <td>NRP</td>
                        <td><div class="field"><input type="text" name="nrp" size="45"/></div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="item text">
                        <td>Nomor Telepon</td>
                        <td><div class="field"><input type="text" name="phone" size="45"/></div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="textarea">
                        <td>Alamat</td>
                        <td><textarea cols="45" rows="5" name="alamat"></textarea></td>   
                      </div>
                    </tr> 
                    <tr>
                      <div class="item text">
                        <td>Asset yang dipinjam </td>
                        <td><div id = "list_barang">
                        <select name="barang">
                          <option value="" selected="selected">Pilih  Asset</option>
						  <option value="Kelas TC-101"> PC </option>
						  <option value="Kelas TC-102"> CPU </option>
						  <option value="Kelas TC-103"> LCD </option>
						  <option value="Kelas TC-104"> Keyboard </option>
                        </select>
                        </td>
                      </div>
                    </tr>
                    <tr>
                      <div class="item text">
                        <td>Tanggal Pinjam</td>
                        <td><div class="field"><input type="text" name="tgl_pinjam" size="45"/></div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="item text">
                        <td>Tanggal Kembali        </td>
                        <td><div class="field"><input type="text" name="tgl_kembali" size="45"/></div></td>
                      </div>
                    </tr>
                    <tr>
                    <td>        </td>
                    <td align ="right"><div class="field"><input type="submit" value="Submit" /></div><td>
                    </tr>
                </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>